{% extends "layout.html.twig" %}

{% block body %}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
    <h3>Partager : </h3>
    <br/>
    <h5>Facebook :</h5>
	<div class="fb-share-button" data-href="http://billeterielouvre.cloudcraft.fr/BilleterieLouvre/web/app_dev.php/" data-layout="button_count" data-mobile-iframe="true"></div>
	<br/>
    <hr>
    <h5>Tweeter :</h5>
	<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Je%20viens%20d'acheter%20des%20billets%20pour%20le%20Musee%20du%20Louvre%20!%20"  data-size="large">Tweetez</a>
{% endblock %}