{% extends "layout.html.twig" %}

{% block body %}
    <h1>Billetterie</h1>
    <hr>
    <div id="menuChoisTicket">
        <h3>Achat de billet : </h3>
        <br/>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('billeterie_ticketadde1', {'demiJour': 'false' }) }}">Journée</a>
                <hr width="25%" align="left">
            </li>
            <li><a href="{{ path('billeterie_ticketadde1', {'demiJour': 'true' }) }}">Demi-Journée</a>
                <hr width="25%" align="left">
            </li>
        </ul>
    </div>
{% endblock %}