# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    paypal_ACC_VENDEUR: test-vendeur@xjejevbx.fr
    paypal_USER: test-vendeur_api1.xjejevbx.fr
    paypal_PWD: 3ZX34XUX5XYQM8MW
    paypal_SIGNATURE: An5ns1Kso7MWUdW4ErQKJJJ4qi4-ApqYgrTHXxS40Y3rjheucMT5W625
    paypal_VERSION: 124.0
    stripe_KEY: sk_test_cXCQHzx7IQGuUuhh4OXubaNT
