{% extends "CoreBundle::layout.html.twig" %}

{% block body %}
    <p style="font-size:24px;">
        Bienvenue sur le site de réservation de billet du Musée du Louvre.
        <br/>
        La page "Plus d'infos" vous informera sur toutes les offres, tarifs réduits et famille.
        <br/>
        Acceder à la billeterie via le menu de navigation.
    </p>
{% endblock %}